*{
    margin:0;
    padding:0;
}

body{
    background:url(../img/dee.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
}

.container{
    text-align:center;
    margin-top:5rem;
    height:auto;
    width:50%;
    margin-left:25%;
    background-color:rgba(197, 195, 211, 0.5);
    box-shadow:.4rem .5rem 1rem 0 rgb(247, 1, 1);
}

.container h1{
    font-size:3rem;
    font-weight:800;
    text-transform:uppercase;
    color:rgb(99, 60, 8);
    margin-bottom:.5rem;
}

.user{
    height:2.5rem;
    width:80%;
    background:rgba(238, 179, 175, 0.5);
    margin-bottom:0.5rem;
    border:none;
    color:gray;
    border-radius:.5rem;
   
}

.user:hover{
    background-color:lightblue;
}

::placeholder{
    color:#fff;
    padding-left:.5rem;
}

.submit{
    width:40%;
    padding:1rem 2.5rem;
    font-size:2rem;
    text-transform:capitalize;
    background:rgb(192, 166, 211);
    border-radius:.5rem;
    border:none;
    font-weight:800;
    margin-bottom:1.5rem;
   
}

.submit:hover{
    background-color:lightblue;
}

.form-section h4{
    font-size:1.5rem;
    margin-bottom:.5rem;
    color:brown;
}

.log-in{
    padding-bottom:2rem;
}

.log-in a{
    text-decoration:none;
    text-transform:capitalize;
    color:rgb(124, 84, 32);
    font-weight:800;
    font-size:1.5rem;
}


.log-in a:hover{
    color:rgb(109, 22, 41);
}